apiVersion: v2
name: {{name}}
description: "{{{description}}}"
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
version: {{chartVersion}}

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application.
appVersion: {{appVersion}}

dependencies:
  - name: base-chart
    version: {{baseChartVersion}}
    repository: "{{{repository}}}"

