# Default values for containers-pod.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
containers-pod:
  nameOverride: {{name}}
  fullnameOverride: ""

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name:

  service:
    type: ClusterIP
    ports: {{^ports}}[]{{/ports}}
  {{#ports}}
      - port: {{port}}
        targetPort: {{port}}
        name: {{{name}}}
        {{#protocol}}
        protocol: {{protocol}}
        {{/protocol}}
  {{/ports}}

  ingresses: {{^ingresses}}[]{{/ingresses}}
  {{#ingresses}}
    - name: {{name}}
      # disabled: true
      annotations:
        kkubernetes.io/ingress.class: traefik
        traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
        traefik.ingress.kubernetes.io/preserve-host: "false"
      rules:
        {{#rules}}
        - path: '/'
          serviceName: {{{name}}}
          servicePort: {{port}}
          host: {{host}}
        {{/rules}}
  {{/ingresses}}

  pod:
    replicas: 1
    imagePullSecrets: []
    podSecurityContext: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    # Volumes to mount
    # Docs: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#volume-v1-core
    volumes:
      - name: appdata
        nfs: 
          server: 192.168.1.10
          path: /appdata
    # Shared environment variables - would be concat to the start of the array
    sharedEnv:
      - name: GUID
        value: '1000'
      - name: PUID
        value: '1000'
      - name: TZ
        value: Asia/Jerusalem
    # Shared containers values - can be override by setting the field in the container declaration
    sharedValues:
      imagePullPolicy: IfNotPresent
      securityContext: {}
      resources: {}
    # The containers to deploy
    # Docs: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core
    containers:
  {{#containers}}
      - name: {{{name}}}
        image: {{{image}}}
        env: {{^env}}[]{{/env}}
          {{#env}}
          - name: {{{name}}}
            value: {{{value}}}
          {{/env}}
        ports: {{^ports}}[]{{/ports}}
          {{#ports}}
          - containerPort: {{port}}
            name: {{{name}}}
            {{#protocol}}
            protocol: {{protocol}}
            {{/protocol}}
          {{/ports}}
        volumeMounts: {{^volumeMounts}}[]{{/volumeMounts}}
          {{#volumeMounts}}
          - mountPath: {{{mountPath}}}
            name: {{{name}}}
            subPath: {{{subPath}}}
          {{/volumeMounts}} 
  {{/containers}}
